/* Spinner.css */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
  height: 100vh;
  width: 100vw;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
